NEXT_PUBLIC_GOOGLE_CLIENT_ID="your_google_client_id"
NEXT_PUBLIC_AUTH_SERVICE_URL="your_auth_service_url"
NEXT_PUBLIC_CLASS_SERVICE_URL="your_class_service_url"
NEXT_PUBLIC_SUBJECT_SERVICE_URL="your_subject_service_url"
NEXT_PUBLIC_MEDIA_SERVICE_URL="your_media_service_url"